
* {
  display: flex;
  flex-direction: column;
}


.card {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

aside {
  align-items: start !important;
}

.view-port {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: start;
}

.content {
  width: 80%;
  border: none;
}


aside {
  width: 10%;
}

.prop {
  width: 20%;
  display: flex;
  align-items: start;
}
.prop span{
  width: 100%;
}

.prop span .conf{
  flex-direction: row;
}
.prop span .conf input { width: max-content}

.action {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.action span {
  width: 100%;
  flex-direction: row;
  justify-content: start;
}

.action span:last-child {
  justify-content: end;
}

.card h3 {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  justify-content: center;
}

.drag {
  width: 32px;
  height: 32px;
  border-radius: 12px;
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 0.05);
  cursor: grab;
  user-select: none;
}


.action input {
  width: 100%;
}

