/*@import "tailwindcss";*/

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  --color-border: black;
}


h3, h4, h5 {
  margin: 0;
}

button {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex !important;
}

input, textarea, select {
  padding: 1%;
  width: 98%;
  color: black;
  font-size: 14px;
  background: none;
  border: none;
  border-bottom: 1px solid var(--color-border);
  border-radius: 0;
  font-weight: 500;
  outline: none;
  position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


textarea {
  resize: vertical;
  border-radius: 10px;
  border: 1px solid var(--color-border);
}


.text-plain {
  border: 1px solid var(--color-border) !important;
}

label {
  text-align: center;
  justify-content: center;
}
