/*@import "tailwindcss";*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



button {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex !important;
}
